<h1>
    Add Product Page
</h1>

<div style="text-align: center; display: block; margin: 10px; border: 5px solid red;">

    <form action="/shop/add-product" id="addForm" method="POST">


        <br>

        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="">
        <br>
    
    
        <label for="category">Category:</label>
    
        <select name="category" id="category">
        <% categories.forEach(category => { %>
                          
            <option  name="<%= category %>" value="<%= category %>"><%= category %></option>
  
        <% }) %>
        </select>
        <br>
    
        <label for="categoryDesc">Categories Description:</label>
        <input type="text" id="categoryDesc" name="categoryDesc" value="">
        <br>
    
        <label for="size">Size:</label>
        <input type="text" id="size" name="size" value="">
        <br>
    
        
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" value="">
        <br>
    
    
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
        <br>
    
    
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="">
        <br>
    
    
        <p>Is Product on Sale?</p>
        <!-- Check if product is on sale -->
        <label for="yes">Yes</label>
        <input type="radio" name="forSale" id="yes" value="true">
    
        <label for="no">No</label>
        <input type="radio" name="forSale" id="no" value="false">

    
    
        <br>
    
        <p>Gender:</p>
        <label for="male">Male</label> 
        <input type="radio" name="gender" id="male" value="male" checked>

    
        <label for="female">Female</label>
        <input type="radio" name="gender" id="female" value="female" >

    
        <br>
        <br>
    

        <div id="productImages">  
    
            <label for="picture-0">Picture 1</label>
            <input type="text" name="picture[]" id="picture-0" size="150">
            <br>
                 
        </div>

        <input type="button" value="Add New Picture" id="addPictureBtn">


        <input type="submit" value="Add Product">
    

    </form>

</div>


<script>

    const addPictureBtn = document.getElementById('addPictureBtn')
    const productImages = document.getElementById('productImages')
    


    let picturesLength = 1
    
    
    const addNewProduct = () => {
    
    

        const form = document.getElementById("addForm")
    
        const newPictureField = document.createElement('INPUT')
        
    
    
    
        newPictureField.setAttribute('type', 'text')
        newPictureField.setAttribute('id', `picture-${picturesLength}`)
        newPictureField.setAttribute('size', '150')
        newPictureField.setAttribute('name', 'picture[]')
    
    
    
        console.log(newPictureField)
    
    
        form.appendChild(newPictureField)
    
    
        const label = document.createElement('LABEL')
    
        const labelText = document.createTextNode(`Picture ${picturesLength + 1}`)
    
        label.setAttribute("for", `picture-${picturesLength}`)
    
    
        console.log(label)
    
    
        label.appendChild(labelText)
    
    
    
        // attach label with the
    
        const br = document.createElement('br')
    
    
        // append the image inside the pictureDiv
    
        
        productImages.appendChild(newPictureField)
        productImages.insertBefore(label,newPictureField);
        productImages.appendChild(br)
    
    
        // increase the length
        picturesLength++
    }
    
        addPictureBtn.addEventListener('click', addNewProduct)
    
    
    </script>